@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
